.nav{
    padding: 10px; 
    background-color: rgb(84, 73, 76);
}
.nav-link{
    color: chartreuse;
}
.nav-item .nav-link:hover{
color:blue;
text-decoration: underline;
}
h3{
    margin-right: 600px;
}